# ╭─────────────────────────Commonly Used ImplementationGuide Properties───────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. The most commonly   │
# │  used properties are included. For a list of all supported properties and their functions,     │
# │  see: https://fshschool.org/docs/sushi/configuration/.                                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.us.pacio-toc
canonical: http://hl7.org/fhir/us/pacio-toc
name: PACIOTransitionsOfCare
title: PACIO Transitions of Care Implementation Guide
description: Implementation Guide for exchanging Transitions of Care minimum data set for patients transitioning between health organizations.
status: active # draft | active | retired | unknown
version: 1.0.0-ballot
fhirVersion: 4.0.1 # https://www.hl7.org/fhir/valueset-FHIR-version.html
copyrightYear: 2024+
releaseLabel: ci-build # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
license: CC0-1.0 # https://www.hl7.org/fhir/valueset-spdx-license.html
jurisdiction: urn:iso:std:iso:3166#US "United States of America" # https://www.hl7.org/fhir/valueset-jurisdiction.html
publisher:
  name: HL7 International / Patient Care
  url: http://www.hl7.org/Special/committees/patientcare
  email: patientcare@lists.HL7.org
extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg 
    valueCode: pc
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: "trial-use"
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 2
contact:
  - name: PACIO project
    telecom:
      - system: url
        value: http://www.hl7.org/Special/committees/patientcare
      - system: email
        value: info@pacioproject.org  
        
# The dependencies property corresponds to IG.dependsOn. The key is the
# package id and the value is the version (or dev/current). For advanced
# use cases, the value can be an object with keys for id, uri, and version.
#
dependencies:
  hl7.fhir.us.pacio-adi: 1.0.0
  hl7.fhir.us.pacio-pfe: 2.0.0-ballot
  hl7.fhir.us.core: 6.1.0
  hl7.fhir.uv.ips: 2.0.0-ballot
  hl7.fhir.us.dental-data-exchange: 1.0.0
  hl7.fhir.us.ccda: 2.0.0-ballot

# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │ The menu property will be used to generate the input/menu.xml file. The menu is represented    │
# │ as a simple structure where the YAML key is the menu item name and the value is the URL.       │
# │ The IG publisher currently only supports one level deep on sub-menus. To provide a             │
# │ custom menu.xml file, do not include this property and include a `menu.xml` file in            │
# │ input/includes. To use a provided input/includes/menu.xml file, delete the "menu"              │
# │ property below.                                                                                │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯

menu:
  Home: index.html
  Table of Contents: toc.html
  Guidance:
    Formal Specification: formal_specification.html
    Use Cases, Personas, and Scenarios: usecases_personas.html
    General Guidance: guidance.html
    Discipline-Specific Information: disciplines.html
    Underlying Technologies: underlying_technologies.html
    Security, Privacy, and Consent: security_privacy_consent.html
  FHIR Artifacts:
    Capability Statement: artifacts.html#behavior-capability-statements
    Profiles: artifacts.html#structures-resource-profiles
    Extension Definitions: artifacts.html#structures-extension-definitions
    Terminology: artifacts.html#terminology-value-sets
    Examples: artifacts.html#example-example-instances
    Search Parameters: search_parameters.html
  Downloads: downloads.html

# The pages property corresponds to IG.definition.page. SUSHI can
# auto-generate the page list, but if the author includes pages in
# this file, it is assumed that the author will fully manage the
# pages section and SUSHI will not generate any page entries.
# The page file name is used as the key. If title is not provided,
# then the title will be generated from the file name.  If a
# generation value is not provided, it will be inferred from the
# file name extension.  Any subproperties that are valid filenames
# with supported extensions (e.g., .md/.xml) will be treated as
# sub-pages.
#
pages:
  index.md:
    title: PACIO Transitions of Care Implementation Guide
  formal_specification.md:
    title: Formal Specification
  usecases_personas.md:
    title: Use Cases, Personas, and Scenarios
  guidance.md:
    title: General Guidance
  disciplines.md:
    title: Discipline-Specific Required DEL Information
  underlying_technologies.md:
    title: Underlying Technologies
  security_privacy_consent.md:
    title: Security, Privacy, and Consent
  search_parameters.md:
    title: Recommended Search Parameters
  artifacts.html:
    title: FHIR Artifacts
  downloads.md:
    title: Downloads

# ╭──────────────────────────────────────────SUSHI flags───────────────────────────────────────────╮
# │  The flags below configure aspects of how SUSHI processes FSH.                                 │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
# The FSHOnly flag indicates if only FSH resources should be exported.
# If set to true, no IG related content will be generated.
# The default value for this property is false.
#
# FSHOnly: false
#
#
# When set to true, the "short" and "definition" field on the root element of an Extension will
# be set to the "Title" and "Description" of that Extension. Default is true.
#
# applyExtensionMetadataToRoot: true
#
#
# The instanceOptions property is used to configure certain aspects of how SUSHI processes instances.
# See the individual option definitions below for more detail.
#
instanceOptions:
  # When set to true, slices must be referred to by name and not only by a numeric index in order to be used
  # in an Instance's assignment rule. All slices appear in the order in which they are specified in FSH rules.
  # While SUSHI defaults to false for legacy reasons, manualSliceOrding is recommended for new projects.
  manualSliceOrdering: true # true | false
  # Determines for which types of Instances SUSHI will automatically set meta.profile
  # if InstanceOf references a profile:
  #
  # setMetaProfile: always # always | never | inline-only | standalone-only
  #
  #
  # Determines for which types of Instances SUSHI will automatically set id
  # if InstanceOf references a profile:
  #
  # setId: always # always | standalone-only
